{% include header.html %}
    
{% include post-content.html %}

<img id="stone" src="/images/stone.png" style="display:none">

<script src="/utils.js"></script>
<script src="/chunk.js"></script>
<script>

var canvas = document.getElementById("example");
var stoneTex = null;
var ctx = canvas.getContext("2d");

var sx = Math.floor((canvas.width) / 16);
var sy = Math.floor((canvas.height) / 16);

var floodColors = 
[
	"#FFFFFF",
	"#DB7D3E",
	"#6B8AC9",
	"#B1A627",
	"#41AE38",
	"#D08499",
	"#404040",
	"#9AA1A1",
	"#2E6E89",
	"#7E3DB5",
	"#2E388D",
	"#4F321F",
	"#35461B",
	"#963430",
	"#191616",
	"#B350BC"
];

var chunk = new Chunk([
	1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,
	1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,
	1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,
	1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
	0,0,0,0,0,0,1,1,1,1,1,1,0,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
]);

function posForFaceCenter(i) {
	switch(i) {
		case 0:	return {x:0,		y: canvas.height/2 };
		case 1: return {x:canvas.width,	y:canvas.height/2 	};
		case 2: return {x:canvas.width/2,	y:0 		};
		case 3: return {x:canvas.width/2,	y:canvas.height  	};
		default:
		alert("wtf");
	}
}

function drawCellBackground(x,y) {
	var val = chunk.at(x,y);
	if(val == 0) {
		ctx.fillStyle = "#333333";
		ctx.fillRect(x*sx-2,y*sy-2,sx+4,sy+4);
	}
	else {

		if(val == 1)
			ctx.fillStyle = "#111111";
		else
			ctx.fillStyle = floodColors[(val-2) % floodColors.length];

		ctx.fillRect(x*sx,y*sy,sx-1,sy-1);
	}
}

function drawCell(x,y) {
	var val = chunk.at(x,y);
	if(val == 0) {
		ctx.drawImage(stoneTex,x*sx+3,y*sy+3,sx+1,sy+1);
	}
	else {
		//ctx.drawImage(grassTex,x*sx+2,y*sy+2,sx-2,sy-2);
	}
}

function drawVisibilityLine(face1, face2) {
	var a = posForFaceCenter(face1);
	var b = posForFaceCenter(face2);

	ctx.beginPath();
	ctx.lineWidth = 10;
	ctx.globalAlpha = 0.7;
	ctx.strokeStyle = "#00d33c";
	ctx.dashedLine(a.x, a.y, b.x, b.y, [30, 10]);
	ctx.stroke();
    ctx.globalAlpha = 1;
}

function redraw() {
	if(stoneTex == null)
		return;
	ctx.clearRect(0,0,canvas.width, canvas.height);

	for( var x = 0; x < 16; ++x ) {
		for( var y = 0; y < 16; ++y ) {
			var idx = x + y * 16;
			drawCellBackground(x,y);
		}
	}

	for( var x = 0; x < 16; ++x ) {
		for( var y = 0; y < 16; ++y ) {
			var idx = x + y * 16;
			drawCell(x,y);
		}
	}

	//draw the lines corresponding to visibility paths
	for(var i = 0; i < 4; ++i) {
		for(var j = 0; j < i; ++j) {
			if(chunk.connections[i][j] > 0)
				drawVisibilityLine(i, j);
		}
	}
}

window.onload=function(){
	stoneTex = document.getElementById("stone");

	chunk.updateVisibility();
	redraw();	
};

canvas.addEventListener('click',
	function(event) {

		var pos = getMousePos(canvas, event);
		chunk.toggleCell( pos, canvas );

		redraw();
	}
	, false);

</script>

{% include footer.html %}