{% include header.html %}
    
{% include post-content.html %}

<img id="stone" src="/images/stone.png" style="display:none">

<script>

var canvas = document.getElementById("example1");
var stoneTex = null;
var ctx = canvas.getContext("2d");

var sx = Math.floor((canvas.width) / 16);
var sy = Math.floor((canvas.height) / 16);

//setup the grid

var startingPoints = [{x:0,y:0}, {x:0,y:1}, {x:0,y:2}, {x:0,y:3}, {x:0,y:4}, {x:0,y:5}, {x:0,y:6}, {x:0,y:7}, {x:0,y:8}, {x:0,y:9}, {x:0,y:10}, {x:0,y:11}, {x:0,y:12}, {x:0,y:13}, {x:0,y:14}, {x:0,y:15}, {x:1,y:0}, {x:1,y:15}, {x:2,y:0}, {x:2,y:15}, {x:3,y:0}, {x:3,y:15}, {x:4,y:0}, {x:4,y:15}, {x:5,y:0}, {x:5,y:15}, {x:6,y:0}, {x:6,y:15}, {x:7,y:0}, {x:7,y:15}, {x:8,y:0}, {x:8,y:15}, {x:9,y:0}, {x:9,y:15}, {x:10,y:0}, {x:10,y:15}, {x:11,y:0}, {x:11,y:15}, {x:12,y:0}, {x:12,y:15}, {x:13,y:0}, {x:13,y:15}, {x:14,y:0}, {x:14,y:15}, {x:15,y:0}, {x:15,y:1}, {x:15,y:2}, {x:15,y:3}, {x:15,y:4}, {x:15,y:5}, {x:15,y:6}, {x:15,y:7}, {x:15,y:8}, {x:15,y:9}, {x:15,y:10}, {x:15,y:11}, {x:15,y:12}, {x:15,y:13}, {x:15,y:14}, {x:15,y:15}]

var grid = 
[
	1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,
	1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,
	1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,
	1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
	0,0,0,0,0,0,1,1,1,1,1,1,0,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
	1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,
];

var faceVisibility = 
[
	[1,1,1,1,1,1],
	[1,1,1,1,1,1],
	[1,1,1,1,1,1],
	[1,1,1,1,1,1],
	[1,1,1,1,1,1],
	[1,1,1,1,1,1]
]

var floodColors = 
[
	"#FFFFFF",
	"#DB7D3E",
	"#6B8AC9",
	"#B1A627",
	"#41AE38",
	"#D08499",
	"#404040",
	"#9AA1A1",
	"#2E6E89",
	"#7E3DB5",
	"#2E388D",
	"#4F321F",
	"#35461B",
	"#963430",
	"#191616",
	"#B350BC"
]

window.onload=function(){
	stoneTex = document.getElementById("stone");

	updateVisibility();
	redraw();	
};

function idx(x,y) {
	return x + y * 16;
}

function drawCellBackground(x,y) {
	var val = grid[idx(x,y)];
	if(val == 0) {
		ctx.fillStyle = "#333333";
		ctx.fillRect(x*sx-2,y*sy-2,sx+4,sy+4);
	}
	else {

		if(val == 1)
			ctx.fillStyle = "#111111";
		else
			ctx.fillStyle = floodColors[(val-2) % floodColors.length];

		ctx.fillRect(x*sx,y*sy,sx-1,sy-1);
	}
}

function drawCell(x,y) {
	var val = grid[idx(x,y)];
	if(val == 0) {
		ctx.drawImage(stoneTex,x*sx+3,y*sy+3,sx+1,sy+1);
	}
	else {
		//ctx.drawImage(grassTex,x*sx+2,y*sy+2,sx-2,sy-2);
	}
}


function redraw() {
	if(stoneTex == null)
		return;

	ctx.clearRect(0,0,canvas.width, canvas.height);

	for( var x = 0; x < 16; ++x ) {
		for( var y = 0; y < 16; ++y ) {
			var idx = x + y * 16;
			drawCellBackground(x,y);
		}
	}

	for( var x = 0; x < 16; ++x ) {
		for( var y = 0; y < 16; ++y ) {
			var idx = x + y * 16;
			drawCell(x,y);
		}
	}

//	ctx.fillStyle = "#000000";
//	ctx.font = "20pt Arial";
//	ctx.fillText("Sample String", 10, 50);
}

var floodID;
var touchedByFlood = {};
var toReplace = 1;

function floodFill(x,y) {

	if(x < 0) {
		touchedByFlood[0] = true;
		return;
	}
	else if(x > 15){
		touchedByFlood[1] = true;
		return;
	}
	else if(y < 0){
		touchedByFlood[2] = true;
		return;
	}
	else if(y > 15){
		touchedByFlood[3] = true;
		return;
	}

	var cur = grid[idx(x,y)];

	if(cur == toReplace) {
		grid[idx(x,y)] = floodID;

		floodFill(x+1,y);
		floodFill(x-1,y);
		floodFill(x,y+1);
		floodFill(x,y-1);
	}
}


function updateVisibility() {

	for( var i = 0; i < grid.length; ++i ) {
		if(grid[i] > 0) {
			grid[i] = 1; //reset the flood fills
		}
	}

	floodID = 2;

	for( var i = 0; i < startingPoints.length; ++i ) {
		var p = startingPoints[i];

		toReplace = 1;
		touchedByFlood = {};
		floodFill(p.x,p.y);

		if(Object.keys(touchedByFlood).length > 1) // it did actually touch something
			floodID++;
		else {
			//it failed
			toReplace = floodID;
			floodID = 1;
			floodFill(p.x, p.y);
			floodID = toReplace;
		}

	}
}

function toggleCell(pos) {

	var x = Math.floor(pos.x / canvas.width * 16);
	var y = Math.floor(pos.y / canvas.height * 16);
	
	grid[idx(x,y)] = (grid[idx(x,y)] == 0 ? 1 : 0);

	updateVisibility();
	redraw();
}

function getMousePos(canvas, evt) {
    var rect = canvas.getBoundingClientRect();
    return {
      x: evt.clientX - rect.left,
      y: evt.clientY - rect.top
    };
  }

canvas.addEventListener('click',
	function(event) {

		toggleCell( getMousePos(canvas, event) )
	}
	, false);

</script>

{% include footer.html %}